:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: grey;
  display: center;
  padding: 0px 0px 50px;
  margin: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: auto;
}

div.color-picker {
  margin: auto;
}

div.frame {
  margin: auto;
  display: center;
  text-align: center;
  margin: auto;
}

div.color-circle {
  height: 50px;
  width: 50px;
  //background-color: green;
  border-radius: 50%;
  margin: auto;
  margin-top: 1.5rem;
}

div.sliders {
  display: center;
  text-align: center;
  width: 200px;
  margin: auto;
  margin-top: 1.5rem;
}

input[type='range'] {
  color: green;
}

div.color-inputs {
  text-align: center;
  display: center;
  margin-top: 0.5rem;
}

div.hsl {
  border-style: solid;
  padding: 0.5rem;
  border-color: black;
  margin-left: 40%;
  margin-right: 40%;
}

button.random-button {
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  border-color: black;
  border-radius: 2rem;
  margin-top: 0.5rem;
}
